<div class="row">
      <button (click)="mode='build'" [disabled]="mode==='build'" mat-flat-button><mat-icon>save</mat-icon> Edit</button>
      <button (click)="mode='print'" [disabled]="mode==='print' || questions.length===0" mat-flat-button><mat-icon>printer</mat-icon>Print</button>
</div>

    <ng-container *ngIf="mode==='build'">
      <h2>New/edited question</h2>
      <form [formGroup]="fGroup" (ngSubmit)="addQuestion()">
        <label>Question</label>
        <textarea rows="2" formControlName="text" required></textarea>

        <div class="grid">
          <label>A</label><input formControlName="A" required>
          <label>B</label><input formControlName="B" required>
          <label>C</label><input formControlName="C" required>
          <label>D</label><input formControlName="D" required>
        </div>

        <div class="actions">
          <button type="submit" [disabled]="fGroup.invalid" mat-flat-button>{{ fGroup.value.id ? '💾Save Changes' : '➕Add Question' }}</button>
          <button type="button" (click)="resetForm()" mat-flat-button>Clear</button>
        </div>
      </form>

      <h2>List of Questions</h2>
      <div class="qgrid">
        <div *ngFor="let q of questions; let i = index" class="qcard">
          <div class="qheader">
            <strong>{{i+1}} {{q.text}}</strong>
            <div class="reorder">
              <button (click)="moveToTop(i)" [disabled]="i===0" title="Top" mat-flat-button>⤒</button>
              <button (click)="moveUp(i)" [disabled]="i===0" title="Up" mat-flat-button>▲</button>
              <button (click)="moveDown(i)" [disabled]="i===questions.length-1" title="Down" mat-flat-button>▼</button>
              <button (click)="moveToBottom(i)" [disabled]="i===questions.length-1" title="Bottom" mat-flat-button>⤓</button>
            </div>
          </div>

          <ul class="answers-list">
            <li *ngFor="let k of keys"><span class="letter small">{{k}}</span> {{q.choices[k]}}</li>
          </ul>
          <div class="actions">
            <button (click)="edit(i)" mat-flat-button>✏️ Edit</button>
            <button (click)="remove(i)" mat-flat-button>🗑️ Delete</button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="mode==='print' && questions.length">
        <h2>Questions</h2>
        <button printSectionId="print-section" ngxPrint mat-flat-button>Print</button>
      <div id="print-section">
        <div *ngFor="let q of questions; let i = index" class="qcard">
          <div>
            <strong>{{i+1}} {{q.text}}</strong>
          </div>

          <ul>
            <li *ngFor="let k of keys"><span class="letter small">{{k}})</span> {{q.choices[k]}}</li>
          </ul>
        </div>
      </div>

    </ng-container>