<div style="justify-content: center;margin:auto;">
<ng-container *ngIf="checkStudent()">
    <h1>Welcome student.</h1>
    <br>
<button matButton="filled" routerLink="/extra">Extracurriculum activities</button>
</ng-container>

<ng-container *ngIf="checkTeacher()">
    <h1>Welcome teacher.</h1>
<button matButton="filled" routerLink="/grades">Grades</button>
<br>
<button matButton="filled" routerLink="/extra">Extracurriculum activities</button>
<br>
<button matButton="filled" routerLink="/quiz">Quiz</button>
</ng-container>
</div>